<div class="container city-input-container">
  <div class="background"></div> <!-- Background with blur -->
  <div class="content">  <!-- Content on top of the background -->
    <form (ngSubmit)="submit()" class="d-flex align-items-center"> <!-- Use Bootstrap's flex utility classes -->
      <div class="mb-3 me-2"> <!-- Add a right margin to the input -->
        <input type="text" placeholder="Search city" [(ngModel)]="city" name="city" id="city" class="form-control" required>
        <button type="submit" class="btn" aria-label="Search"> <!-- Use button with no styling -->
          <i class="fas fa-search"></i> <!-- Search icon -->
        </button>
      </div>
    </form>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="offlineToggle" [(ngModel)]="offlineMode">
      <label class="form-check-label" for="offlineToggle">
        Offline Mode
      </label>
    </div>
  </div>
</div>
